	nav	{
    margin-left: auto;
    margin-right: auto;
	}
	#logo-fs	{
	position: relative;
    float: left;
    width:  75px;
    height: 75px;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
    }